

<div class="card m-5">
  <div class="card-header">
    Object: <%= @email.object%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @email.body%></p>
    </blockquote>
  </div>
</div>


<%=link_to 'Retour à l\'acceuil', root_path%>